extends base

block content
  section.section-main
    .main__text-box
      h1.heading-primary
        span.heading-primary--main High &mdash; speed train
        br
        span.heading-primary--sub Next step in your adventure
  section.section-features
    h2.heading-secondary
      | A speedy arrival
    .features-showcase
      .features-showcase__description-box
        p.features-showcase__description Sit back and relax. We will be arriving at your destination at a moments notice!
      .features-showcase__features
        h3.heading-tertiary Arriving in 90 minutes
        p
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      .features-showcase__features
        h3.heading-tertiary 0 stops to our destination
        p
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      .features-showcase__features
        h3.heading-tertiary A Comfortable Ride
        p
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
  section.section-gallery
    .gallery
      .gallery__box
        img.gallery__img--1(src='/img/bullet-train-terminal-2.jpg' alt='photo')
      .gallery__box
        img.gallery__img--1(src='/img/bullet-train-scenery.jpg' alt='photo')
      .gallery__box
        img.gallery__img--1(src='/img/bullet-train-interior-2.jpg' alt='photo')
  section.section-departures
    h2.heading-secondary Departing
    .departures__container

      each departure in departures
        .card
          .card__header
            .card__img
              .card__img-overlay  &nbsp;
              img.card__img-picture(src=`img/departures/${departure.imageCover}` alt=`${departure.name}`)
            h3.heading-tertiary.card__main-heading
              span= departure.name
          .card__details
            h4.card__sub-heading= `We will arrive in ${departure.durationMinutes} minutes`
            p.card__text= departure.summary
            .card__data
              svg.card__icon
                use(xlink:href='img/sprite.svg#icon-location')
              span= departure.startLocation.description
            .card__data
              svg.card__icon
                use(xlink:href='img/sprite.svg#icon-flag')
              span= departure.endLocation.description
          .card__footer
            p
              span.card__footer-value= `$${departure.price}`
              |  
              span.card__footer-text per person
            p.card__ratings
              span.card__footer-value= `${departure.ratingsAverage}`
              |  
              span.card__footer-text= `rating ${departure.ratingsQuantity}`
            a.btn.btn--details(href=`/departures/${departure.slug}`) Details    